{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon site web</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Accueil</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Se connecter</a></li>
          <li><a href="{% url 'register' %}">S'inscrire</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; 2023 Mon site web. balbla balbla.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
