{% load static %}
<h1>Agencies</h1>

<ul>
    {% for agency in agencies %}
        <li>
            <h2>{{ agency.name }}</h2>
            <p><strong>Location:</strong> {{ agency.location }}</p>
            <p><strong>Location:</strong>Image path {{ agency.image }}</p>
            <img src="{% static agency.image %}" alt="{{ agency.name }}" width="200">
            <p><strong>Basic Price:</strong> {{ agency.simple_price }} FCFA</p>
            <p><strong>Standard Price:</strong> {{ agency.classic_price }} FCFA</p>
            <p><strong>VIP Price:</strong> {{ agency.vip_price }} FCFA</p>
        </li>
    {% empty %}
        <p>No agencies found.</p>
    {% endfor %}
</ul>
