{% extends "pages/UserDashboard/base.html" %}

{% block content %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="search-bar ms-5">
                    <form method="get" action="{% url 'accommodation_list' %}">
                        <input type="text" name="q" placeholder="Search by name or city" value="{{ query }}">
                        <button type="submit"><i class="fa fa-search"></i> Search</button>
                    </form>
                
                    <ul>
                        {% for destination in destinations %}
                            <li><a href="{% url 'destination_detail' destination.pk %}">{{ destination.name }} - {{ destination.city }}</a></li>
                        {% empty %}
                            <li>No destinations found.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        
            <div class="destination">
                <h2 class="text-left title-titre">Favorite destinations in Cameroon</h2>
                <div class="destination1 ">
                    <div class="destination-card1 destination-card col-lg-6">
                        <p>Douala</p>
                    </div>
                    <div class="destination-card2 destination-card col-lg-6">
                        <p>Yaounde</p>
                    </div>
                </div>
                <div class="destination2">
                    <div class="destination-card3 destination-card">
                        <p>Kribi</p>
                    </div>
                    <div class="destination-card4 destination-card">
                        <p>Limbe</p>
                    </div>
                    <div class="destination-card5 destination-card">
                        <p>Buea</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
    
