{% extends "pages/UserDashboard/base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card p-4 shadow-lg" style="max-width: 600px; width: 100%;">
                <h2 class="">Reservation for {{ travel_plan.departure }} - {{ travel_plan.destination }}</h2>
                <form method="post" action="{% url 'reservation' travel_plan.pk %}" class="reservation">
                <!-- Display success or error messages -->
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <!-- <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};"> -->
                                {{ message }}
                            <!-- </li> -->
                        {% endfor %}
                    </ul>
                {% endif %}

                    {% csrf_token %}
                    <div>
                        <label for="full_name">Full Name:</label>
                        <input type="text" id="full_name" name="full_name" required>
                    </div>
                    <br>
                    <div>
                        <label for="number_of_places">Number of Places to Reserve:</label>
                        <input type="number" name="number_of_places" id="number_of_places" min="1" required>
                    </div>
                    <br>
                    <div>
                        <label for="id_card_number">ID Card Number:</label>
                        <input type="text" name="id_card_number" id="id_card_number" required>
                    </div>
                    <br>
                    <div>
                        <label for="phone_number">Telephone</label>
                        <input type="tel" id="phone_number" name="phone_number" required>
                    </div>
                    <br>
                    <button type="submit">Reserve</button>
                </form>
                <br>
                <a href="{% url 'list_all_travel_plans' %}">Back to Travel Plans</a>
            
            </div>

        </div>
    </div>

{% endblock %}
