{% extends "pages/UserDashboard/base.html" %}
{% load static %}

{% block content %}
    <div class="content">
    <h2>Update Reservation</h2>

    <form method="post" action="{% url 'update_reservation' reservation.id %}">
        {% csrf_token %}
        <div>
            <label for="full_name">Full Name:</label>
            <input type="text" id="full_name" name="full_name" required>
        </div>
        <br>
        <div>
            <label for="number_of_places">Number of Places:</label>
            <input type="number" id="number_of_places" name="number_of_places" value="{{ reservation.number_of_places }}" required>
        </div>
        <div>
            <label for="id_card_number">ID Card Number:</label>
            <input type="text" id="id_card_number" name="id_card_number" value="{{ reservation.id_card_number }}" required>
        </div>
        <div>
            <label for="phone_number">Telephone</label>
            <input type="tel" id="phone_number" name="phone_number" value="{{ reservation.phone_number }}" required>
        </div>
        <button type="submit">Update Reservation</button>
    </form>
    </div>

{% endblock%}