<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ agency.name }} Agency</title>
</head>
<body>
    <h2>Your Assigned Agency</h2>

    {% if agency %}
        <p><strong>Agency Name:</strong> {{ agency.name }}</p>
        <p><strong>Towns:</strong> {{ agency.description }}</p>
        <p><strong>Image:</strong></p>
        <img src="{{ agency.image.url }}" alt="{{ agency.name }}" width="200"><br>
    {% endif %}

    

    <button><a href="{% url 'create_travel' %}">Create travel plan</a></button>

    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
